body {
    margin-top: 4rem;
    font-family: 'Titillium Web', sans-serif;
    background-color: #F9F9F9;
}

#sideNav {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #0f0e0e;
}


.h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

.badge a {
    color: white;
    font-size: 0.9rem;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #343a40;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    text-transform: uppercase;
}

h1,
.h1 {
    line-height: 1;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

.subheading {
    font-weight: 500;
    font-size: 1.2rem;
}

#sideNav {
    padding-left: 1rem;
    padding-right: 1rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
}

@media (min-width:992px) {
    #sideNav {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }

    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }

    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }

    .active {
        background: #bd5d38;
        color: yellow;
        transition: all 0.4s ease-out;
    }

    #cv-section:hover {
        background-color: #bd5d38;
        transition: all 0.4s ease-out;
    }

    #download-button {
        order: 1;
        position: relative;
        bottom: 10rem;
    }
}

.social-icons .social-icon {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icons .social-icon:hover {
    background-color: #bd5d38;
    transition: background-color 0.2s ease-in-out;
}

.dev-icons {
    font-size: 3rem;
}

section.resume-section {
    display: flex;
    align-items: center;
    padding: 5rem 1rem;
    max-width: 75rem;
}

section.resume-section .resume-section-content {
    width: 100%;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding: 5rem 3rem;
    }
}

.social-icons {
    display: inline-flex;
    margin-right: 1.5rem;
}

.social-icons>div {
    margin-right: 2rem;
}